.description {
    width: 100%;
    min-height: 100px;
    margin-top: 100px;
    text-align: center;
    vertical-align: center;
    font-family: 'Holtwood One SC', serif;
    color: #ffdd22;
    text-shadow: 0 0 5px #000;
    margin-bottom: 20px;
}

.description p {
    font-size: 2em;
}

